.ctab_container {
    flex-direction: column;
    align-items: center;
}
.ctab_container h1 {
    color: #ececec;
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    display: flex;
}
.ctab_container h1 em {
    margin-right: 75px;
}
.ctab_container h1 .more {
    width: 14px;
    align-items: center;
    cursor: pointer;
    padding: 3px 3px;
}
.ctab_container h1 .more:hover {
    background-color: #3b3b3b;
    padding: 3px 3px;
    border-radius: 5px;
}
.portfolio {
    font-weight: 400;
}
.portfolio button {
    cursor: pointer;
    border: none;
    color: #d3d3d3;
    background-color: inherit;
}
.portfolio .down {
    width: 12px;
    height: 12px;
    margin-right: 3px;
    align-items: center;
    transition: transform 0.3s;
}
.portfolio .down.rotated {
    transform: rotate(90deg);
}
.portfolio > button {
    margin-bottom: 10px;
}
.ctab_buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1f2428;
}
.ctab_button {
    width: 176px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3px 0;
    padding-left: 10px;
    background-color: #1f2428;
    color: #ececec;
    border: none;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
}
.ctab_button img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.ctab_button:hover {
    background-color: #36393b
}
.ctab_button.active {
    width: 100%;
    background-color: #464a4e;
    align-items: center;
}

.tab_content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.tab_content.active {
    display: block;
    opacity: 1;
  }
